body {
  --global-width: 100vw;
  --global-height: 100vh;
  margin: 0;
}

#app {
  display: grid;
  width: var(--global-width);
  height: var(--global-height);
}

.maze {
  // There are two extra rows and two extra columns for the buttons
  --grid-columns: calc(var(--maze-columns) + 2);
  --grid-rows: calc(var(--maze-rows) + 2);

  // Sets the smallest allowable size of a maze cell
  --min-size: 3em;

  --dimensions: calc(
    max(
      var(--min-size),
      min(
        var(--global-width) / var(--grid-columns),
        var(--global-height) / var(--grid-rows)
      )
    )
  );

  --wall-width: 3px;
  --wall-color: black;
  --hover-add-color: hsl(120, 50%, 50%);
  --hover-remove-color: hsl(0, 50%, 50%);

  display: grid;
  width: calc(var(--dimensions) * var(--grid-columns));
  height: calc(var(--dimensions) * var(--grid-rows));
  align-self: center;
  grid-template:
    repeat(var(--grid-rows), 1fr) /
    repeat(var(--grid-columns), 1fr);
  justify-self: center;

  button {
    --button-padding: 8px;
    padding: var(--button-padding);
    border: none;
    background-color: transparent;
    font-size: calc(var(--dimensions) - var(--button-padding) * 2);
    cursor: pointer;
  }

  .add {
    color: hsl(120, 50%, 50%);
  }
  .remove {
    color: hsl(0, 50%, 50%);
  }
}

.prepend-row {
  grid-column: 1 / -1;
  grid-row: 1;
}
.prepend-column {
  grid-column: 1;
  grid-row: 1 / -1;
}
.append-row {
  grid-column: 1 / -1;
  grid-row: -2;
}
.append-column {
  grid-column: -2;
  grid-row: 1 / -1;
}

.remove-first-row {
  grid-row: 2;
}
.remove-last-row {
  grid-row: -3;
}
.remove-first-row,
.remove-last-row {
  &.head {
    grid-column: 1;
  }
  &.tail {
    grid-column: -2;
  }
}
.remove-first-column {
  grid-column: 2;
}
.remove-last-column {
  grid-column: -3;
}
.remove-first-column,
.remove-last-column {
  &.head {
    grid-row: 1;
  }
  &.tail {
    grid-row: -2;
  }
}

.cell {
  border: var(--wall-width) solid white;
  aspect-ratio: 1 / 1;
  background-color: #dddddd;
}

.cell.wall-left {
  border-left-color: var(--wall-color);
}
.cell.wall-top {
  border-top-color: var(--wall-color);
}
.cell.wall-right {
  border-right-color: var(--wall-color);
}
.cell.wall-bottom {
  border-bottom-color: var(--wall-color);
}

.cell.hover-wall-left {
  border-left-color: var(--hover-add-color);
}
.cell.hover-wall-top {
  border-top-color: var(--hover-add-color);
}
.cell.hover-wall-right {
  border-right-color: var(--hover-add-color);
}
.cell.hover-wall-bottom {
  border-bottom-color: var(--hover-add-color);
}

.cell.hover-wall-left.wall-left {
  border-left-color: var(--hover-remove-color);
}
.cell.hover-wall-top.wall-top {
  border-top-color: var(--hover-remove-color);
}
.cell.hover-wall-right.wall-right {
  border-right-color: var(--hover-remove-color);
}
.cell.hover-wall-bottom.wall-bottom {
  border-bottom-color: var(--hover-remove-color);
}
