body {
  --global-margin: 8px;
  margin: var(--global-margin);
}

.maze {
  --dimensions: calc(
    min(100vw - var(--global-margin) * 2, 100vh - var(--global-margin) * 2)
  );
  --wall-width: 3px;
  --wall-color: black;
  --hover-add-color: hsl(120, 50%, 50%);
  --hover-remove-color: hsl(0, 50%, 50%);
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(var(--maze-columns), 1fr);
  width: var(--dimensions);
  height: var(--dimensions);
}

.cell {
  background-color: #dddddd;
  aspect-ratio: 1 / 1;
  min-width: 3em;
  padding: var(--wall-width);
  border: var(--wall-width) solid white;
}

.cell.wall-left {
  border-left-color: var(--wall-color);
}
.cell.wall-top {
  border-top-color: var(--wall-color);
}
.cell.wall-right {
  border-right-color: var(--wall-color);
}
.cell.wall-bottom {
  border-bottom-color: var(--wall-color);
}

.cell.hover-wall-left {
  border-left-color: var(--hover-add-color);
}
.cell.hover-wall-top {
  border-top-color: var(--hover-add-color);
}
.cell.hover-wall-right {
  border-right-color: var(--hover-add-color);
}
.cell.hover-wall-bottom {
  border-bottom-color: var(--hover-add-color);
}

.cell.hover-wall-left.wall-left {
  border-left-color: var(--hover-remove-color);
}
.cell.hover-wall-top.wall-top {
  border-top-color: var(--hover-remove-color);
}
.cell.hover-wall-right.wall-right {
  border-right-color: var(--hover-remove-color);
}
.cell.hover-wall-bottom.wall-bottom {
  border-bottom-color: var(--hover-remove-color);
}
