body {
  --global-width: 100vw;
  --global-height: 100vh;
  margin: 0;
}

#app {
  display: grid;
  width: var(--global-width);
  height: var(--global-height);
}

.maze {
  --dimensions: calc(min(var(--global-width), var(--global-height)));
  --wall-width: 3px;
  --wall-color: black;
  --hover-add-color: hsl(120, 50%, 50%);
  --hover-remove-color: hsl(0, 50%, 50%);
  --min-size: 3em;

  display: grid;
  width: var(--dimensions);
  min-width: calc(var(--min-size) * (var(--maze-columns) + 2));
  height: var(--dimensions);
  min-height: calc(var(--min-size) * (var(--maze-rows) + 2));
  align-items: center;
  align-self: center;
  grid-template:
    repeat(calc(var(--maze-rows) + 2), 1fr) /
    repeat(calc(var(--maze-columns) + 2), 1fr);
  justify-self: center;

  button {
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
  }

  .add {
    color: hsl(120, 50%, 50%);
  }
  .remove {
    color: hsl(0, 50%, 50%);
  }
}

.prepend-row {
  grid-column: 1 / -1;
  grid-row: 1;
}
.prepend-column {
  grid-column: 1;
  grid-row: 1 / -1;
}
.append-row {
  grid-column: 1 / -1;
  grid-row: -2;
}
.append-column {
  grid-column: -2;
  grid-row: 1 / -1;
}

.remove-first-row {
  grid-row: 2;
}
.remove-last-row {
  grid-row: -3;
}
.remove-first-row,
.remove-last-row {
  &.head {
    grid-column: 1;
  }
  &.tail {
    grid-column: -2;
  }
}
.remove-first-column {
  grid-column: 2;
}
.remove-last-column {
  grid-column: -3;
}
.remove-first-column,
.remove-last-column {
  &.head {
    grid-row: 1;
  }
  &.tail {
    grid-row: -2;
  }
}

.cell {
  border: var(--wall-width) solid white;
  aspect-ratio: 1 / 1;
  background-color: #dddddd;
}

.cell.wall-left {
  border-left-color: var(--wall-color);
}
.cell.wall-top {
  border-top-color: var(--wall-color);
}
.cell.wall-right {
  border-right-color: var(--wall-color);
}
.cell.wall-bottom {
  border-bottom-color: var(--wall-color);
}

.cell.hover-wall-left {
  border-left-color: var(--hover-add-color);
}
.cell.hover-wall-top {
  border-top-color: var(--hover-add-color);
}
.cell.hover-wall-right {
  border-right-color: var(--hover-add-color);
}
.cell.hover-wall-bottom {
  border-bottom-color: var(--hover-add-color);
}

.cell.hover-wall-left.wall-left {
  border-left-color: var(--hover-remove-color);
}
.cell.hover-wall-top.wall-top {
  border-top-color: var(--hover-remove-color);
}
.cell.hover-wall-right.wall-right {
  border-right-color: var(--hover-remove-color);
}
.cell.hover-wall-bottom.wall-bottom {
  border-bottom-color: var(--hover-remove-color);
}
