body {
  --global-margin: 8px;
  --global-width: calc(100vw - var(--global-margin) * 2 - 8em);
  --global-height: calc(100vh - var(--global-margin) * 2 - 4em);
  margin: var(--global-margin);
}

#app {
  display: grid;
  width: var(--global-width);
  height: var(--global-height);
  align-items: center;
  justify-content: center;
}

.maze {
  display: grid;
  align-items: center;
}

.prepend-row {
  grid-column-end: 2;
  grid-column-start: 2;
  grid-row-end: 1;
  grid-row-start: 1;
}
.prepend-column {
  grid-column-end: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 2;
}
.append-row {
  grid-column-end: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 3;
}
.append-column {
  grid-column-end: 3;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 2;
}

.prepend-row,
.append-row {
  width: 4em;
  height: 2em;
  justify-self: center;
}
.prepend-column,
.append-column {
  width: 4em;
  height: 2em;
}

.walls {
  --dimensions: calc(min(var(--global-width), var(--global-height)));
  --wall-width: 3px;
  --wall-color: black;
  --hover-add-color: hsl(120, 50%, 50%);
  --hover-remove-color: hsl(0, 50%, 50%);
  --min-size: 3em;
  display: grid;
  width: var(--dimensions);
  min-width: calc(var(--min-size) * var(--maze-columns));
  height: var(--dimensions);
  min-height: calc(var(--min-size) * var(--maze-columns));
  grid-auto-rows: 1fr;
  grid-column-end: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 2;
  grid-template-columns: repeat(var(--maze-columns), 1fr);
}

.cell {
  border: var(--wall-width) solid white;
  background-color: #dddddd;
}

.cell.wall-left {
  border-left-color: var(--wall-color);
}
.cell.wall-top {
  border-top-color: var(--wall-color);
}
.cell.wall-right {
  border-right-color: var(--wall-color);
}
.cell.wall-bottom {
  border-bottom-color: var(--wall-color);
}

.cell.hover-wall-left {
  border-left-color: var(--hover-add-color);
}
.cell.hover-wall-top {
  border-top-color: var(--hover-add-color);
}
.cell.hover-wall-right {
  border-right-color: var(--hover-add-color);
}
.cell.hover-wall-bottom {
  border-bottom-color: var(--hover-add-color);
}

.cell.hover-wall-left.wall-left {
  border-left-color: var(--hover-remove-color);
}
.cell.hover-wall-top.wall-top {
  border-top-color: var(--hover-remove-color);
}
.cell.hover-wall-right.wall-right {
  border-right-color: var(--hover-remove-color);
}
.cell.hover-wall-bottom.wall-bottom {
  border-bottom-color: var(--hover-remove-color);
}
